<div class="body-container">
    <h3 class="main-heading">Financial Reports</h3>
    <div class="finance-reports mgy-2">
        <h5>Account Balances</h5>
        <div class="accounts grid mgy-1">
            <div class="grid-item card card-color actionable card-color-pri">
                <h5>Cash Payments</h5>
                <div class="desc mgy-1">
                  <p>Ksh. </p>
                </div>
            </div>
            <div class="grid-item card card-color actionable card-color-sec">
                <h5>Mobile Money</h5>
                <div class="desc mgy-1">
                  <p>Ksh. </p>
                </div>
            </div>
            <div class="grid-item card card-color actionable card-color-main">
                <h5>Invoices</h5>
                <div class="desc mgy-1">
                  <p>Ksh. </p>
                </div>
            </div>
        </div>
    </div>
</div>
