.nav-container
    margin: auto 0
    height: 90vh
    
    .nav-menu
        &-heading
            font-size: 0.825em
            margin: 1.25em 0
        &-links
            list-style-type: none
            &-item 
                margin: .95em 0
                padding: .5em 0
                font-size: 12px
                a 
                    text-decoration: none
                    color: inherit
                    &.active 
                        font-weight: 500
                        color: red

    .nav-footer
        font-size: 11px
        font-weight: 500
            