<!--<div class="app-container flexed" *ngIf="isAuth() == true">-->
<!--  <aside>-->
<!--    <app-sidemenu></app-sidemenu>-->
<!--  </aside>-->
<!--  <main>-->
<!--    <div class="user-logged-in">-->
<!--       <app-user-logged-in></app-user-logged-in>-->
<!--    </div>-->
<!--    <router-outlet></router-outlet>-->
<!--  </main>-->
<!--</div>-->
<!--<div class="app-container" *ngIf="token == '' || token == null || token == undefined || isAuth() != true;">-->
<!--  <app-auth></app-auth>-->
<!--</div>-->
<router-outlet></router-outlet>
