<div class="main-grid">
  <div class="container" *ngIf="!loading && !errorConnecting">
    <div class="mgy-1">
      <img src="assets/weaverlogo.svg" width="175" alt="">
    </div>
    <h3>Hello, proceed to login</h3>
    <div class="form mgy-2">
      <form [formGroup]="authLogin" class="form" (submit)="loginAttempt()">
        <div class="form-input">
          <label for="username">Enter your username</label>
          <input type="text" formControlName="username" id="username">
        </div>
        <div class="form-input mgy-1">
          <label for="password">Enter your password</label>
          <input type="password" formControlName="password" id="password">
        </div>
        <div class="form-input mgy-1" *ngIf="errorLogin">
          <label class="text-danger">{{errorLogin.error}}</label>
        </div>
        <div class="form-input mgy-2">
          <button class="button-info">Sign in</button>
        </div>
      </form>
    </div>
  </div>
  <div class="container" *ngIf="loading">
    <div class="grid">
      <div class="loader">
        <img src="assets/loader.svg" width="70" alt="">
        <h4 class="opaque">Loading... please wait</h4>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="errorConnecting">
    <div class="grid grid-center">
      <div class="error-connecting" style="text-align: center;">
        <img src="assets/warning.svg" width="40" style="filter: invert(50%)" alt="">
        <h4 class="opaque">There seems to be a problem connecting to the server</h4>
        <button class="mgy-1 button button-text text-danger" (click)="retryEntry()">Try Again</button>
      </div>
    </div>
  </div>
</div>
